API_PORTO_URL=http://backdoor-porto.test/api/senfuri0n/projects
API_PORTO_TOKEN=
API_PORTO_ORIGIN=http://backdoor-porto.test
ALL_NEWS_API=http://backdoor-porto.test/api/senfuri0n/blogs
ALL_CATEGORIES_LIST_API=http://backdoor-porto.test/api/senfuri0n/blogs/categories
NEWS_BY_CATEGORIES_API=http://backdoor-porto.test/api/senfuri0n/blogs/categories/{categorySlug}
SHOW_NEWS_API=http://backdoor-porto.test/api/senfuri0n/blogs/{slugNews}
