@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Gunakan Roboto sebagai font sans */
  --font-sans: "Roboto", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}