@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/bg-main.png);
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Sesuaikan nilai opacity */
    z-index: -1;
  }
  